<?xml version="1.0"?>
<robot name="Dead_wheelrobot">

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.186 0.255 0.1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <link name="deadwheel_x_one">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.0295" length="0.0125"/>
      </geometry>
      <material name="green">
        <color rgba="0.0 0.5 0.0 1.0"/>
      </material>
    </visual>
  </link>

  <link name="deadwheel_x_two">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.0295" length="0.0125"/>
      </geometry>
      <material name="red">
        <color rgba="0.5 0.0 0.0 1.0"/>
      </material>
    </visual>
  </link>

  <link name="deadwheel_y_one">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder radius="0.0295" length="0.0125"/>
      </geometry>
      <material name="blue">
        <color rgba="0.0 0.0 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <!-- <joint name="deadwheel_x_left" type="continuous">
    <parent link="base_link"/>
    <child link="deadwheel_x_one"/>
    <origin xyz="0.0 -0.0965 -0.05" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="deadwheel_x_right" type="continuous">
    <parent link="base_link"/>
    <child link="deadwheel_x_two"/>
    <origin xyz="0.0 0.0965 -0.05" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <joint name="deadwheel_y" type="continuous">
    <parent link="base_link"/>
    <child link="deadwheel_y_one"/>
    <origin xyz="-0.065 0.0 -0.05" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
  </joint> -->

 <!-- <joint name="deadwheel_x_left" type="continuous">
  <parent link="base_link"/>
  <child link="deadwheel_x_one"/>
  <origin xyz="0 -0.1275 -0.0795" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="deadwheel_x_right" type="continuous">
  <parent link="base_link"/>
  <child link="deadwheel_x_two"/>
  <origin xyz="0 0.1275 -0.0795" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="deadwheel_y" type="continuous">
  <parent link="base_link"/>
  <child link="deadwheel_y_one"/>
  <origin xyz="0.158 0 -0.0795" rpy="0 0 0"/>
  <axis xyz="1 0 0"/>
</joint> -->

<joint name="deadwheel_x_left" type="continuous">
  <parent link="base_link"/>
  <child link="deadwheel_x_one"/>
  <origin xyz="0.093 -0.1275 -0.0795" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="deadwheel_x_right" type="continuous">
  <parent link="base_link"/>
  <child link="deadwheel_x_two"/>
  <origin xyz="0.093 0.1275 -0.0795" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
</joint>

<joint name="deadwheel_y" type="continuous">
  <parent link="base_link"/>
  <child link="deadwheel_y_one"/>
  <origin xyz="-0.093 0 -0.0795" rpy="0 0 0"/>
  <axis xyz="1 0 0"/>
</joint>

</robot>